# PUC MINAS

## Pós Graduação em Ciência de Dados e Big Data (2019-2020)

### Trabalho de Conclusão de Curso

### Aluna: Maria da Glória dos Santos Batista de Oliveira

__Leitura dos dados e importação das bibliotecas utilizadas__

Para iniciar o trabalho, primeiramente é necessário fazer download dos datasets informados previamente. Assim o documento poderá ser lido sem que qualquer problema ocorra.

No código a seguir, as importações das bibliotecas utilizadas e a definição dos métodos para facilitar a visualização dos dados e exibição de gráficos de value counts no Pandas.

In [7]:
# Imports das bibliotecas utilizadas

import pandas as pd
import numpy as np

# Não exibir as mensagens de warnings
import warnings
warnings.filterwarnings('ignore')

Vamos realizar as importações dos datasets utilizados:

In [8]:
# Import do primeiro dataset utilizado

arquivo = '../datasets_originais/df.csv'

# filtrando as colunas que serão utilizadas:
lista_colunas = ["date", "cases", "deaths", "recovered", "monitoring"]

df = pd.read_csv(arquivo, sep=',', parse_dates=['date'], usecols=lista_colunas)

In [11]:
# Import do segundo dataset utilizado

cidades = '../datasets_originais/df_cidades.csv'

# filtrando as colunas que serão utilizadas:
lista_colunas = ["date", "state", "name", "cases", "deaths"]

df_cidades = pd.read_csv(cidades, sep=',',parse_dates=['date'], usecols=lista_colunas)

In [17]:
# Import do terceiro dataset utilizado

coord_cidades = '../datasets_originais/df_coord_cidades.csv'

# filtrando as colunas que serão utilizadas:
lista_colunas = ["city_name", "lat", "long"]

df_coord_cidades = pd.read_csv(coord_cidades, sep=',', usecols=lista_colunas)

#### Vamos visualizar os datasets importados:

In [9]:
# Visualizando as 5 primeiras linhas:

df.head(5)

        date  cases  deaths  recovered  monitoring
0 2020-02-25      0       0        NaN         NaN
1 2020-02-26      1       0        NaN         NaN
2 2020-02-27      1       0        NaN         NaN
3 2020-02-28      1       0        NaN         NaN
4 2020-02-29      2       0        NaN         NaN

In [13]:
# Visualizando as 5 primeiras linhas:

df_cidades.head(5)

        date state          name  cases  deaths
0 2020-03-27    AC    Acrelândia      0       0
1 2020-03-27    AC  Assis Brasil      0       0
2 2020-03-27    AC     Brasiléia      0       0
3 2020-03-27    AC        Bujari      0       0
4 2020-03-27    AC      Capixaba      0       0

In [30]:
# Visualizando as 5 primeiras linhas:
df_coord_cidades.head(5)

             city_name       lat     long
0      Abadia de Goiás -16.75730 -49.4412
1  Abadia dos Dourados -18.48310 -47.3916
2            Abadiânia -16.19700 -48.7057
3               Abaeté -19.15510 -45.4444
4           Abaetetuba  -1.72183 -48.8788

#### Vamos fazer a verificação se os dataframes possuem alguma coluna com valor nulo:

In [19]:
# Verificando valores nulos

df.isna().any()

date          False
cases         False
deaths        False
recovered      True
monitoring     True
dtype: bool

Como podemos observar, existem duas colunas que possuem valores nulos: 
- recovered 
- monitoring

Verificando se no dataframe existem valores duplicados:

In [20]:
# Verificação de duplicidade

ind_duplicado = df.duplicated().any()

Agora vamos ver se existem valores duplicados:

In [21]:
# Visualizando se existem duplicidades

print(ind_duplicado)

False

Como podemos observar não há registro duplicado no dataset.

In [22]:
# Verificando valores nulos no dataframe sobre cidades

df_cidades.isna().any()

date      False
state     False
name      False
cases     False
deaths    False
dtype: bool

Como podemos observar, não existem colunas que possuam valores nulos.

Verificando se o dataframe existem valores duplicados:

In [31]:
# Verificação de duplicidade

ind_duplicado = df_cidades.duplicated().any()

Agora vamos ver se existem valores duplicados:

In [24]:
# Visualizando se existem duplicidades

print(ind_duplicado)

False

Como podemos observar não existem registros duplicados.

Agora iremos verificar se existem valores nulos no dataset:

In [29]:
# Verificando valores nulos

df_coord_cidades.isna().any()

city_name    False
lat          False
long         False
dtype: bool

Como podemos ver não existem registros nulos no dataframe.

Verificando registros duplicados no dataframe:

In [32]:
# Verificação de duplicidade
ind_duplicado = df_coord_cidades.duplicated().any()

Visualizando se existem registros duplicados:

In [33]:
# Visualizando se existem duplicidades

print(ind_duplicado)

False

Como podemos observar não há registro duplicado no dataset.

#### Vamos realizar o tratamento do dataframe que possui valores nulos:

In [34]:
# Resolvendo o problema de valores nulos no dataframe: preenchendo valores nulos com zero

df_corona=df.fillna(0)

___Agora que os dados nulos foram tratados dentro do dataframe, será necessário realizar a verificação de como o pandas identificou os dados no momento da leitura do dataset, será utilizado o comando info() para verificar essas informações.___

In [35]:
# Visualizando a informação sobre os datatypes

df_corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        172 non-null    datetime64[ns]
 1   cases       172 non-null    int64
 2   deaths      172 non-null    int64
 3   recovered   172 non-null    float64
 4   monitoring  172 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 6.8 KB

Como podemos observar, será necessário mudar o datatype de duas colunas: 
- recovered 
- monitoring

Vamos realizar o tratamento para que todas as colunas numéricas possuam o mesmo datatype (int).

In [36]:
# Mudando o datatype de Float para Int e criando um novo dataframe

df_corona=df_corona.astype({"recovered": int, "monitoring": int})

Agora vamos verificar se os datatypes foram realmente alterados nesse novo dataframe.

In [37]:
# Visualizando os dados

df_corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        172 non-null    datetime64[ns]
 1   cases       172 non-null    int64
 2   deaths      172 non-null    int64
 3   recovered   172 non-null    int64
 4   monitoring  172 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 6.8 KB

Realizando a verificação se haverá necessidade de alterar os datatypes do segundo dataset:

In [38]:
# Mostra a informação do dataframe

df_cidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 787674 entries, 0 to 787673
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    787674 non-null  datetime64[ns]
 1   state   787674 non-null  object
 2   name    787674 non-null  object
 3   cases   787674 non-null  int64
 4   deaths  787674 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 30.0+ MB

Não havera a necessidade de alterar nenhum datatype do dataframe.

Realizando a verificação se haverá necessidade de alterar os datatypes do terceiro dataset:

In [39]:
# Visualizando a informação sobre os datatypes
df_coord_cidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city_name  5570 non-null   object
 1   lat        5570 non-null   float64
 2   long       5570 non-null   float64
dtypes: float64(2), object(1)
memory usage: 130.7+ KB

Como podemos verificar não haverá a necessidade de nenhuma alteração nos datatypes.

#### Incluindo um novo indicador no dataframe

A partir dos dados importados do dataset, vamos criar uma nova coluna para análise no dataframe:

Casos ativos = Casos – Mortes – Recuperados

Neste contexto, vamos analisar uma pessoa que contraiu o Coronavírus, ela não morreu porém ainda não se recuperou da doença.

In [40]:
# Criando uma nova coluna

df_corona['active'] = df_corona['cases'] - df_corona['deaths'] - df_corona['recovered']

Agora vamos visualizar o dataframe modificado:

In [41]:
# Visualizando os dados

df_corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        172 non-null    datetime64[ns]
 1   cases       172 non-null    int64
 2   deaths      172 non-null    int64
 3   recovered   172 non-null    int64
 4   monitoring  172 non-null    int64
 5   active      172 non-null    int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 8.2 KB

Agora será necessário verificar os dados temporais contidos nos dataframes.

In [42]:
# Verifica os dados temporais do dataframe

df_corona.date.describe()

count                     172
unique                    172
top       2020-03-13 00:00:00
freq                        1
first     2020-02-25 00:00:00
last      2020-08-14 00:00:00
Name: date, dtype: object

In [43]:
# Verifica os dados temporais do dataframe

df_cidades.date.describe()

count                  787674
unique                    142
top       2020-04-01 00:00:00
freq                     5547
first     2020-03-27 00:00:00
last      2020-08-15 00:00:00
Name: date, dtype: object

Com a informação obtida dos dataframes, é possível observar a data de início e data de término contidas nos arquivos.

### Agrupando os dados

Os dados serão mostrados de maneira que o número casos, mortes, monitorados, recuperados e ativos sejam agrupados por data.

In [44]:
# Agrupando os dados

df_agrupado = df_corona.groupby(['date'])['cases','deaths','monitoring', 'recovered', 'active'].sum().reset_index()

O dataframe será ordenado para descobrir em qual data ocorreu o maior número de casos ativos.

In [45]:
# Ordenando os registros

df_agrupado.sort_values(by='active', ascending=False)

          date    cases  deaths  monitoring  recovered   active
146 2020-07-20  2118646   80120      629324     612605  1425921
165 2020-08-08  3012412  100477      817642    2094293   817642
166 2020-08-09  3035422  101049      815913    2118460   815913
164 2020-08-07  2962442   99572      794476    2068394   794476
167 2020-08-10  3057470  101752      791906    2163812   791906
..         ...      ...     ...         ...        ...      ...
7   2020-03-03        2       0           0          0        2
2   2020-02-27        1       0           0          0        1
1   2020-02-26        1       0           0          0        1
3   2020-02-28        1       0           0          0        1
0   2020-02-25        0       0           0          0        0

[172 rows x 6 columns]

Agrupando a quantidade de casos recuperados, mortes e ativos por data.

In [46]:
# Agrupando

df_agrupado = df_agrupado.groupby('date')['cases','deaths','monitoring','recovered','active'].sum().reset_index();

Será utilizada a função melt do pandas para remodelar o dataframe com variável e valor, para ter a quantidade de casos recuperados, mortos e ativos.

In [47]:
# Função melt do pandas para remodelar o dataframe com variável e valor, para ter a quantidade de casos recuperados, mortos e ativos.

df_casos_agrupados = df_agrupado.melt(id_vars="date", value_vars=['recovered', 'deaths', 'monitoring','active'],
                 var_name='case', value_name='count')

Visualizando as 5 primeiras linhas do dataframe "df_casos_agrupados":

In [48]:
# Visualizando as 5 primeiras linhas

df_casos_agrupados.head(5)

        date       case  count
0 2020-02-25  recovered      0
1 2020-02-26  recovered      0
2 2020-02-27  recovered      0
3 2020-02-28  recovered      0
4 2020-02-29  recovered      0

Visualizando 5 últimas linhas do dataframe "df_casos_agrupados":

In [49]:
# Visualizando as 5 últimas linhas

df_casos_agrupados.tail(5)

          date    case   count
683 2020-08-10  active  791906
684 2020-08-11  active  763480
685 2020-08-12  active  751107
686 2020-08-13  active  762773
687 2020-08-14  active  784695

Agrupando os dados da geolocalização:

In [50]:
# Visualizando as 5 primeiras linhas

df_cidades.head(5)

        date state          name  cases  deaths
0 2020-03-27    AC    Acrelândia      0       0
1 2020-03-27    AC  Assis Brasil      0       0
2 2020-03-27    AC     Brasiléia      0       0
3 2020-03-27    AC        Bujari      0       0
4 2020-03-27    AC      Capixaba      0       0

Agrupando a quantidade de casos, mortes por data, estado e nome.

In [52]:
# Agrupando pela quantidade casos, mortes por data, estado e nome

df_cidades_agrupado = df_cidades.groupby(['date','state','name'])['cases','deaths'].sum().reset_index()

Criando um novo dataset a partir dos dasets df_cidades_agrupado e df_coord_cidades:

In [53]:
# Usando Merge que contenha a cidades que tenham o mesmo nome

df_geo_cidades_temp = pd.merge(left=df_cidades_agrupado, right=df_coord_cidades, left_on='name', right_on='city_name')

Agora criaremos um novo dataset sobre geolocalização com informações que serão relevantes para a análise.

In [54]:
# Criando um novo dataset que contenha somente as informações que preciso

df_geo_cidades = df_geo_cidades_temp[['date', 'state','name','cases','deaths','lat','long']].copy()

Visualizando o novo dataset:

In [55]:
# Visualizando o novo dataset

df_geo_cidades.head(5)

        date state        name  cases  deaths      lat     long
0 2020-03-27    AC  Acrelândia      0       0 -9.82581 -66.8972
1 2020-03-28    AC  Acrelândia      0       0 -9.82581 -66.8972
2 2020-03-29    AC  Acrelândia      2       0 -9.82581 -66.8972
3 2020-03-30    AC  Acrelândia      6       0 -9.82581 -66.8972
4 2020-03-31    AC  Acrelândia      7       0 -9.82581 -66.8972

Ordenando os dados pela quantidade de casos.

In [56]:
# Ordenando pela quantidade de casos

df_geo_cidades.sort_values(by='cases', ascending=False)

             date state               name   cases  deaths        lat     long
850153 2020-08-15    SP          São Paulo  235519   10592 -23.532900 -46.6395
850152 2020-08-14    SP          São Paulo  233987   10563 -23.532900 -46.6395
850151 2020-08-13    SP          São Paulo  231203   10453 -23.532900 -46.6395
850150 2020-08-12    SP          São Paulo  224140   10311 -23.532900 -46.6395
850149 2020-08-11    SP          São Paulo  217244   10221 -23.532900 -46.6395
...           ...   ...                ...     ...     ...        ...      ...
413684 2020-05-04    MT  Nova Santa Helena       0       0 -10.865100 -55.1872
413683 2020-05-03    MT  Nova Santa Helena       0       0 -10.865100 -55.1872
413682 2020-05-02    MT  Nova Santa Helena       0       0 -10.865100 -55.1872
413681 2020-05-01    MT  Nova Santa Helena       0       0 -10.865100 -55.1872
437999 2020-04-13    PE          Primavera       0       0  -0.945439 -47.1253

[875998 rows x 7 columns]

Agora retornando para o dataset "df_cidades_agrupado", vamos agrupar as quantidades de casos e mortos por data, estado e nome.

In [57]:
# Agrupando o dataframe

df_cidades_agrupado = df_cidades_agrupado.groupby(['date','state','name'])['cases', 'deaths'].sum().reset_index();

Agora vamos visualizar o dataframe criado:

In [58]:
# Visualizando os dados contidos no dataframe

df_cidades_agrupado.head(5)

        date state          name  cases  deaths
0 2020-03-27    AC    Acrelândia      0       0
1 2020-03-27    AC  Assis Brasil      0       0
2 2020-03-27    AC     Brasiléia      0       0
3 2020-03-27    AC        Bujari      0       0
4 2020-03-27    AC      Capixaba      0       0

### Salvando os datasets tratados:

In [59]:
# Salvando o dataset

df_corona.to_csv('../datasets_tratados/df_corona.csv')

In [60]:
# Salvando o dataset
df_agrupado.to_csv('../datasets_tratados/df_agrupado.csv')

In [61]:
# Salvando o dataset
df_casos_agrupados.to_csv('../datasets_tratados/df_casos_agrupados.csv')

In [62]:
# Salvando o dataset

df_cidades_agrupado.to_csv('../datasets_tratados/df_cidades_agrupado.csv')

In [63]:
# Salvando o dataset

df_geo_cidades.to_csv('../datasets_tratados/df_geo_cidades.csv')